body {
    background:rgb(155, 155, 202);
}

.main-navigation {
    background: rgb(211, 94, 94);
}
.main-navigation ul {
    list-style: none;
    text-align: center;
    padding:0;
    margin:0;
}

.main-navigation li {
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
    font-family: 'Nunito', sans-serif;
}

.main-navigation a {
    text-decoration: none;
    color: black;
    display: block;
    transition: .3s background-color;
}

.main-navigation a:hover {
    background-color:#cdffff;
    
}

.main-navigation a.active {
    background-color:#000;
    color:white;
    cursor: default;
}

@media screen and (min-width: 600px){
    .main-navigation li {
        border-bottom: none;
        height:50px;
        line-height:50px;
        font-size: 1.4em;
        display: inline-block;
        margin-right: -5px;
    }

    .main-navigation a {
        padding: 0 1em;
    }
}

.main-content {
    text-align:center;
}

.main-content ul {
    text-align: justify;
}
img {
    max-width:100%;
}

footer {
    text-align:center;
}